{{#unless shouldHideBanner}}
  <div class="onboarding-banner-content">
    {{html-safe cooked}}
    {{d-button
      class="dismiss-banner"
      icon="times"
      action=(action "dismissOnboarding")
    }}
  </div>
{{/unless}}
