<div class="onboarding-banner">
  {{#if this.visible}}
    <div class="onboarding-banner-content">
      {{html-safe this.cooked}}
      <DButton
        class="dismiss-banner"
        @icon="times"
        @action={{this.dismissOnboarding}}
      />
    </div>
  {{/if}}
</div>