{{#if this.visible}}
  <div class="onboarding-banner">
    <div class="onboarding-banner-content">
      {{html-safe this.cooked}}
      <DButton
        class="dismiss-banner"
        @icon="xmark"
        @action={{this.dismissOnboarding}}
      />
    </div>
  </div>
{{/if}}